src/profiles/datatypes/nonPositiveInteger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema version="1.1" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://xmlProfile.de" xmlns:profile="http://xmlProfile.de">
	<include schemaLocation="Datatypes.xsd" />
	<include schemaLocation="FormFieldTypes.xsd" />
	<!-- Datatypes: any Definition (Default) -->


	<element name="elementNonPositiveInteger" substitutionGroup="profile:element"><!-- name -->
		<complexType>
			<complexContent>
				<extension base="profile:elementType">
					<group ref="profile:nonPositiveIntegerElementGroup" />
					<assert
						test="if(((profile:restrictions/profile:use[not(text()='optional')]) or (count(profile:restrictions/profile:use)=0)) and not(profile:restrictions/profile:fixContent)) then ((profile:input/*[@hide=false()])or not(profile:input)) else(true())" />
					<assert
						test="if(profile:restrictions/profile:fixContent) then (not(profile:restrictions/profile:defaultContent) and not(profile:restrictions/profile:use) and not(profile:restrictions/profile:occurrence)) else(true())" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<complexType name="elementNonPositiveIntegerRefType "><!-- !!!name -->
		<complexContent>
			<extension base="profile:elementInstanceRefType">
				<group ref="profile:nonPositiveIntegerGroup" /><!-- !!!ref -->
				<assert
					test="if(((profile:restrictions/profile:use[not(text()='optional')]) or (count(profile:restrictions/profile:use)=0)) and not(profile:restrictions/profile:fixContent)) then ((profile:input/*[@hide=false()])or not(profile:input)) else(true())" />
				<assert
					test="if(profile:restrictions/profile:fixContent) then (not(profile:restrictions/profile:defaultContent) and not(profile:restrictions/profile:use) and not(profile:restrictions/profile:occurrence)) else(true())" />
			</extension>
		</complexContent>
	</complexType>


	<complexType name="union_nonPositiveInteger">
		<group ref="profile:nonPositiveIntegerRestrictionGroup" minOccurs="0" /><!-- !!!ref -->
	</complexType>

	<element name="elementInstanceNonPositiveInteger" substitutionGroup="profile:elementInstance">
		<complexType>
			<complexContent>
				<extension base="profile:elementInstanceType">
					<group ref="profile:nonPositiveIntegerElementGroup" />
					<assert
						test="if(((profile:restrictions/profile:use[not(text()='optional')]) or (count(profile:restrictions/profile:use)=0)) and not(profile:restrictions/profile:fixContent)) then ((profile:input/*[@hide=false()])or not(profile:input)) else(true())" />
					<assert
						test="if(profile:restrictions/profile:fixContent) then (not(profile:restrictions/profile:defaultContent) and not(profile:restrictions/profile:use) and not(profile:restrictions/profile:occurrence)) else(true())" />
				</extension>
			</complexContent>
		</complexType>
	</element>

	<group name="nonPositiveIntegerElementGroup">
		<sequence>
			<element name="restrictions" minOccurs="0">
				<complexType>
					<group ref="profile:nonPositiveIntegerGroup" /><!-- !!!ref -->
				</complexType>
			</element>
			<element name="input" minOccurs="0">
				<complexType>
					<choice maxOccurs="unbounded"><!-- change -->
						<element ref="profile:textField" />
						<element ref="profile:selectionBox" />
						<element ref="profile:numberField" />
					</choice>
				</complexType>
			</element>
		</sequence>
	</group>
	<group name="nonPositiveIntegerGroup"><!-- !!!name -->
		<sequence>
			<element ref="profile:use" minOccurs="0" />
			<element ref="profile:occurrence" minOccurs="0" />
			<group ref="profile:nonPositiveIntegerRestrictionGroup" minOccurs="0" />
			<element name="defaultContent" type="profile:nonPositiveInteger_fixContent_currentDateType"
				minOccurs="0" /><!-- !!!type -->
		</sequence>

	</group>
	<group name="nonPositiveIntegerRestrictionGroup">
		<choice>
			<element name="fixContent" type="profile:nonPositiveInteger_fixContent_currentDateType" /><!-- 
				!!!type -->
			<element name="enumeration">
				<complexType>
					<sequence>
						<group ref="profile:nonPositiveInteger_fixContent_currentDateGroup" maxOccurs="unbounded" /><!-- 
							!!!ref -->
					</sequence>
					<attribute name="base" type="string" fixed="-" />
				</complexType>
			</element>
			<element name="contentFormat">
				<complexType>
					<sequence>
						<element name="pattern" minOccurs="0">
							<complexType>
								<sequence>
									<element name="regular-expression" type="profile:regular_expression" maxOccurs="unbounded" />
								</sequence>
								<attribute name="base" type="string" fixed="[\-+]?[0-9]+" />
							</complexType>
						</element>
						<element name="total-digits" minOccurs="0">
							<complexType>
								<simpleContent>
									<extension base="integer">
										<attribute name="base" type="string" fixed="-" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="fraction-digits" fixed="0" minOccurs="0">
							<complexType>
								<simpleContent>
									<extension base="integer">
										<attribute name="base" type="string" fixed="-" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="whitespace" minOccurs="0">
							<complexType>
								<attribute name="method" fixed="collapse" use="required">
									<simpleType>
										<restriction base="string">
											<enumeration value="preserve" />
											<enumeration value="replace" />
											<enumeration value="collapse" />
										</restriction>
									</simpleType>
								</attribute>
								<attribute name="base" type="string" fixed="-" />
							</complexType>
						</element>
						<element name="number-boundary" minOccurs="0">
							<complexType>
								<sequence>
									<choice minOccurs="0">
										<element name="minInclusive">
											<complexType>
												<complexContent>
													<extension base="profile:nonPositiveInteger_fixContent_currentDateType"><!-- !!!type -->
														<attribute name="base" type="string" fixed="-" />
													</extension>
												</complexContent>
											</complexType>
										</element>
										<element name="minExclusive">
											<complexType>
												<complexContent>
													<extension base="profile:nonPositiveInteger_fixContent_currentDateType"><!-- !!!type -->
														<attribute name="base" type="string" fixed="-" />
													</extension>
												</complexContent>
											</complexType>
										</element>
									</choice>
									<choice minOccurs="0">
										<element name="maxInclusive">
											<complexType>
												<complexContent>
													<extension base="profile:nonPositiveInteger_fixContent_currentDateType"><!-- !!!type -->
														<attribute name="base" type="string" fixed="0" />
													</extension>
												</complexContent>
											</complexType>
										</element>
										<element name="maxExclusive">
											<complexType>
												<complexContent>
													<extension base="profile:nonPositiveInteger_fixContent_currentDateType"><!-- !!!type -->
														<attribute name="base" type="string" fixed="-" />
													</extension>
												</complexContent>
											</complexType>
										</element>
									</choice>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</choice>
	</group>
	<complexType name="nonPositiveInteger_fixContent_currentDateType"><!-- !!!name -->
		<group ref="profile:nonPositiveInteger_fixContent_currentDateGroup" /><!-- !!!ref -->
	</complexType>
	<group name="nonPositiveInteger_fixContentGroup"><!-- !!!name -->
		<choice>
			<element name="value">
				<complexType>
					<simpleContent>
						<extension base="nonPositiveInteger"><!-- !!!base -->
							<attribute name="URL" type="anyURI" />
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="ref">
				<complexType>
					<complexContent>
						<extension base="profile:elementInstanceRefType">
							<attribute name="refValueNotExist" use="required">
								<simpleType>
									<restriction base="string">
										<enumeration value="fail" />
										<enumeration value="succeed" />
									</restriction>
								</simpleType>
							</attribute>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="function">
				<complexType>
					<sequence>
						<element name="rounding" type="profile:nonPositiveInteger_roundingType" minOccurs="0" />
						<element name="arithmeticOperator" type="profile:nonPositiveInteger_arithmetic_operatorsType"
							minOccurs="0" />
					</sequence>
				</complexType>
			</element>
		</choice>
	</group>
	<group name="nonPositiveInteger_fixContent_currentDateGroup"><!-- !!!name -->
		<choice>
			<group ref="profile:nonPositiveInteger_fixContentGroup" minOccurs="0" /><!-- !!!ref -->
			<element name="current-date" type="token" minOccurs="0" />
		</choice>
	</group>

	<complexType name="nonPositiveInteger_roundingType">
		<sequence>
			<element name="item" type="profile:nonPositiveInteger_fixContentType" />
		</sequence>
		<attribute name="method">
			<simpleType>
				<restriction base="string">
					<enumeration value="ceiling" />
					<enumeration value="floor" />
					<enumeration value="round" />
					<enumeration value="round-half-to-even" />
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="precision" type="integer" />
		<assert
			test="((@method='ceiling' or @method='floor') and not(@precision)) or ((@method='round' or @method='round-half-to-even') and @precision)" />
	</complexType>



	<group name="nonPositiveInteger_arithmetic_operatorGroup">
		<choice>
			<element name="ADD" type="profile:nonPositiveInteger_arithmetic_operatorsType" />
			<element name="Substract" type="profile:nonPositiveInteger_arithmetic_operatorsType" />
			<element name="MULTIPLY" type="profile:nonPositiveInteger_arithmetic_operatorsType" />
			<element name="DIVIDE" type="profile:nonPositiveInteger_arithmetic_operatorsType" />
		</choice>
	</group>

	<complexType name="nonPositiveInteger_arithmetic_operatorsType">
		<choice maxOccurs="unbounded">
			<element name="item" type="profile:nonPositiveInteger_fixContentType" />
			<element name="bracket">
				<complexType>
					<sequence>
						<group ref="profile:nonPositiveInteger_arithmetic_operatorGroup" />
					</sequence>
				</complexType>
			</element>
			<group ref="profile:nonPositiveInteger_arithmetic_operatorGroup" />
		</choice>
	</complexType>
	<complexType name="nonPositiveInteger_fixContentType">
		<group ref="profile:nonPositiveInteger_fixContentGroup" />
	</complexType>
</schema>